<!DOCTYPE html>
<html>
<head>
    <title>Detail Produk</title>
</head>
<body>
    <h1><center>DYA'S Commerce</center></h1>
    <p><center>─────────────── ⋆⋅☆⋅⋆ ───────────────</center></p>

    <p><center>Halo! ini adalah DYA's Commerce, platform online inovatif untuk para gamer!</center></p>

    <h2>Deskripsi Produk: </h2>
    <p>{{ description }}</p>

    
    <h2>Detail Produk:</h2>
    <p>Nama: {{ name }}</p>
    <p>Harga: ${{ price }}</p>
    <p>Kategori: {{ category }}</p>
    
    <h2>Fitur Tambahan: </h2>
    <p>{{ additional_features }}</p>
    <!-- nambahin gambar produk
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
{% endif %} -->

   
</body>
</html>
