<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang di DYA'S Commerce</title>
</head>
<body>
    <h1>Selamat Datang di DYA'S Commerce</h1>

    <p>Halo! ini adalah DYA's Commerce, platform online inovatif untuk para gamer!</p>

    <h5>Deskripsi: </h5>
    <p>{{ description }}</p>

    <h5>Fitur Tambahan: </h5>
    <p>{{ additional_features }}</p>

    <h5>Detail Pemilik: </h5>
    <p>NPM: {{ npm }}</p>
    <p>Nama: {{ name }}</p>
    <p>Kelas: {{ class }}</p>
</body>
</html>
